   <% @pending_pets.each do |pet| %>
        <%= pet.name %>
        <p><%= link_to "<button>Approve #{pet.name}'s Application</button>".html_safe, "/admin/applications/#{@application.id}?pet_id=#{pet.id};adoption_status=Approved", method: :patch, local: true  %></p>
        <p><%= link_to "<button>Reject #{pet.name}'s Application</button>".html_safe, "/admin/applications/#{@application.id}?pet_id=#{pet.id};adoption_status=Rejected", method: :patch, local: true  %></p>
   <% end %>

   <% @approved_pets.each do |pet| %>
        <p><%= "#{pet.name}" %> Approved!</p>
   <% end %>

   <% @rejected_pets.each do |pet| %>
        <p> <%= "#{pet.name}" %> Rejected. </p>
   <% end %>

    
