<h2> Application Show Page </h2>

<% @application.pets.each do |pet|%>
<%= link_to pet.name, "/pets/#{pet.id}" %>
<%end%>
<p><%= @application.name%><p> 
<p><%= @application.street_address%><p>
<p><%= @application.city%><p>
<p><%= @application.state%><p>
<p><%= @application.zip_code%><p>
<p><%= @application.description%><p>
<p><%= @application.status%><p> 
<br>

<div>
  <% if @application.status != "Pending" %>
    <h3><%= "Add a Pet to this Application " %></h3>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
</div>

<% if @pets.present? %>
  <% @pets.each do |pet| %>
    <%= pet.name %>
    <%= link_to "<button>Adopt this Pet</button>".html_safe, "/applications/#{@application.id}?search=#{pet.name}", method: :patch %><br>
  <% end %> 
<% end %> 

<% if @application.pets.present? && @application.status != "Pending" %>
  <h3><%= "Submit Application" %></h3>
  <%= form_with url: "/applications/#{@application.id}?status=Pending", method: :patch, local: true do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>

