<h2> Application Show Page </h2>

<% @application.pets.each do |pet|%>
<%= link_to pet.name, "/pets/#{pet.id}" %>
<%end%>
<p><%= @application.name%><p> 
<p><%= @application.street_address%><p>
<p><%= @application.city%><p>
<p><%= @application.state%><p>
<p><%= @application.zip_code%><p>
<p><%= @application.description%><p>
<p><%= @application.status%><p> 
<br>
<h3><%= "Add a Pet to this Application " %></h3>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Submit" %>
<% end %>

<% if !@pets.nil? %>
  <% @pets.each do |pet| %>
    <%= pet.name %>
    <%= button_to "Adopt this Pet", "/applications/#{@application.id}"  %>
  <% end %> 


<% end %> 